[submodule "rustlings"]
	path = rustlings
	url = https://github.com/devwraithe/rustlings.git
[submodule "rust-book/guessing-game"]
	path = rust-book/guessing-game
	url = https://github.com/devwraithe/rusty-guess.git
